body {
	background:#ccc;
	margin:0;
}

div {
	background-color:#fff;
	width:400px;
	height:200px;
	padding:15px;
	margin:15px;
	float:left;
}

.shadow3 {
	box-shadow: inset 3px 3px 3px #BFBFBF, inset -3px -3px 3px #8C8C8C;
	border-radius: 10px; 
}
