/* Buttons */
/*
.btn {
	@include border-radius(0);
}

.btn-default {
	background-color:#fff;
	color:#aaaaaa;
}

.btn-primary {
	@include add-background($primary-color);
	//@include add-border(2px, #fff, all);
}

.btn-primary:hover {
	background:darken($primary-color, 5%);
}
*/
