body,
input,
button {
	font: 14px "Trebuchet MS", sans-serif;
}

/* cross compatibility */
input::-moz-focus-inner,
button::-moz-focus-inner {
	border:0;
	padding:0;
} 

/* input/button cursor type */
input[type="submit"].button,
button.button {
	cursor:pointer;
	outline:none;
}

/* customizing css button */
.button {
	padding:8px 16px;
	display:inline-block;
	text-decoration:none;
	border-radius:3px;
	border:0;
	margin:0;
}

/* sizing */
.button-tiny {
	font-size:12px;
	padding:6px 14px;
}

.button-medium {
	font-size:16px;
	padding:10px 18px;
}

.button-large {
	font-size:18px;
	padding:12px 20px;
}

.button-primary {
	/*background:slategrey;*/
	background: #000428;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:#fff;
}

/* hover over */
.button-primary:hover {
	background: #004e92;  /* fallback for old browsers */
	/*background:lightslategrey;*/
}

