/** COLOUR SETTINGS **/

$color-a:#f57c00;
$color-b:#ffe3c5;
$color-c:#1c110b;
$color-d:#5d5d5d;
$color-e:#fff2e9;
$color-f:#ff9801;
$color-g:#bfaeaa;

$white-color:#ffffff;
$black-color:#000000;

//Gray and Silver Family Colors - flat UI colors
//CLOUDS                //SILVER                //CONCRETE                  //ASBESTOS
$clouds-1:#fdfefe;      $silver-1:#f8f9f9;      $concrete-1:#f4f6f6;        $asbestos-1:#f2f4f4;        
$clouds-2:#fbfcfc;      $silver-2:#f2f3f4;      $concrete-2:#eaeded;        $asbestos-2:#e5e8e8;
$clouds-3:#f7f9f9;      $silver-3:#e5e7e9;      $concrete-3:#d5dbdb;        $asbestos-3:#ccd1d1;
$clouds-4:#f4f6f7;      $silver-4:#d7dbdd;      $concrete-4:#bfc9ca;        $asbestos-4:#b2babb;
$clouds-5:#f0f3f4;      $silver-5:#cacfd2;      $concrete-5:#aab7b8;        $asbestos-5:#99a3a4;
$clouds-6:#ecf0f1;      $silver-6:#bdc3c7;      $concrete-6:#95a5a6;        $asbestos-6:#7f8c8d;
$clouds-7:#d0d3d4;      $silver-7:#a6acaf;      $concrete-7:#839192;        $asbestos-7:#707b7c;
$clouds-8:#b3b6b7;      $silver-8:#909497;      $concrete-8:#717d7e;        $asbestos-8:#616a6b;
$clouds-9:#979a9a;      $silver-9:#797d7f;      $concrete-9:#5f6a6a;        $asbestos-9:#515a5a;
$clouds-10:#7b7d7d;     $silver-10:#626567;     $concrete-10:#4d5656;       $asbestos-10:#424949;

body 
{
    //font-family:Ubuntu, Sans-Serif;
    @include  __background_color($white-color);
}

/*** Extends ***/
.__class_mp_0 
{
    margin:0;
    padding:0;
}

.__class_list
{
    & ul 
    {
        @include __list_style_type(none);
    }
}

.__class_list_inline 
{
    & ul 
    {
        @include __list_style_type(none);
        & li 
        {
            @include __display(inline-block);
        }
    }
}

.pad {
    @include __padding(2rem, top);
    @include __padding(2rem, bottom);
}

.pad-hero {
    @include __margin(4rem, top);
    @include __margin(4rem, bottom);
}

/*** Mixins ***/
@mixin __font($size, $weight, $style, $color) 
{
    @include ___font($size, $weight, $style);   
    @include __color($color);
    
    @extend .__class_mp_0; 
}

/*** Header ***/
.__margin_top {
    @include __margin(15px, top);
}

header.header 
{
    & .logo-wrapper 
    {
        @extend .__margin_top;
    }

    & .social-icons-wrapper 
    {
        @extend .__margin_top;    
        @extend .__class_list_inline;

        & ul.social-icons-ul 
        {
            @extend .__class_mp_0;

            & li.item-li 
            {
                @include __link($color-d, $color-c); 
                @include __padding(3px, left);
                @include __padding(3px, right);
            }   
        }
    }

    & .phone-wrapper 
    {
        @extend .__margin_top;
    
        & h2 
        {
            @include __font(25px, 400, normal, $color-a);

            & span 
            {
                @include __color($color-c);
            }
        }
    }
    
    & .navi-menu-wrapper 
    {
        @extend .__class_list_inline;
        & ul.navi-menu-ul 
        {   
            //@extend .__class_mp_0;
            @include __font(20px, 300, normal, $color-c);           
            @include __padding(10px, top);
            @include __padding(15px, bottom);
        
            & li.navi-menu-item 
            {
                @include __link($color-d, $color-a);       
                @include __padding(18px, right);

                & .active 
                {
                    @include __color($color-a !important);
                    @include __font_weight(500);
                } 
            }
        }
    }
}

/*** Section 1 - Hero ***/
section.section-1.hero 
{
    @include __background('../img/imgs/jpg/section-1-hero-bg.jpg');
    @include __background_size(cover);
    @include __background_repeat(no-repeat);    

    & .big-fonts-wrapper
     {
        @include __margin(1.5rem, bottom);

        & .font-a 
        {
            @include __font(3.1rem, 200, normal, $color-e);
        }

        & .font-b 
        {
            @include __font(5.6rem, 500, normal, $color-e);
        }
    }

    & .caption-wrapper 
    {
        @include __margin(1.8rem, bottom);
        & .font-a 
        {
            @include __font(2.6rem, 500, normal, $color-b);   
            @include __margin(0.4rem, bottom);
        }

        & p 
        {
            @include __font(18px, 300, normal, $color-e);
            @include __line_height(145%);
        }
    }

    & .buttons-wrapper 
    {
    
        @include __link($color-e, $color-e);
    
        & .button-a 
        {
            @include ___font(1.2rem, 300, normal);
            @include __margin(4px, right);
            @include __background_color($color-a);
            @include __border_radius(3px);
        }

        & .button-a:hover 
        {
            @include __color($color-c);
        }

        & .button-b 
        {
            @include ___font(1.2rem, 200, normal);
            @include __margin(4px, left);
            @include __border(1px, solid, $color-e, all);
            @include __border_radius(3px);
            
            & .playbutton 
            {        
                @include __margin(10px, left);
            }
        }
    }
}

/*** Section Info 1 ***/
section.section-info-1
{
    @include __background_color($color-c);

    & .info-wrapper 
    {
        & h2 
        {
            @include __font(1.2rem, 400, normal, $color-b);
            @include __margin(8px, bottom);
        }

        & p 
        {
            @include __font(14px, 300, normal, $white-color);
            @include __line_height(130%);   
        }
    }
    
    @include __link($color-e, $color-e);

    .button-a 
    {
        @include __border(1px, solid, $color-e, all);
        @include __border_radius(3px);
    }
}

/*** Section 2 ***/
section.section-2 
{
    @include __background('../img/imgs/jpg/section-2-bg.jpg');
    @include __background_size(cover);
    @include __background_repeat(no-repeat);
    background-position:fixed;
    
    & .big-fonts-wrapper 
    {
        @include __margin(2.2rem, bottom);

        & .font-a 
        {
            @include __font(4.5rem, 700, normal, $color-c);
            @include __margin(5px, bottom);
        }

        & p 
        {
            @include __font(18px, 400, normal, $color-c);
            @include __line_height(145%);
        }
    }

    & .list-wrapper 
    {
        @extend .__class_list;

        & .list-ul 
        {
            @include __font(18px, 400, normal, $color-c);

            & .item-li {    
                @include __margin(14px, top);
                @include __margin(14px, bottom);
                @include __padding(15px, all);
                @include __background_color($white-color);
                @include __border(1px, solid, $clouds-7, all);
            }

            .fa-check {
                @include __color($color-a);
                @include __margin(8px, right);
            }
        }
    }
}

/*** Section 3 ***/
section.section-3 
{
    @include __background('../img/imgs/jpg/section-3-bg.jpg');
    @include __background_size(cover);
    @include __background_repeat(no-repeat);

    & .big-fonts-wrapper 
    {
        @include __margin(3rem, bottom);

        & .font-a 
        {
            @include __font(4.5rem, 700, normal, $color-b);
            @include __margin(5px, bottom);
        }

        & p 
        {
            @include __font(18px, 400, normal, $color-b);
            @include __line_height(145%);
        }
    }

    & .figure-wrapper
    {
        @include __margin(3rem, bottom);
    }

    & .medium-fonts-wrapper 
    {
        @include __margin(2rem, bottom);    
    
        & h2.medium-font 
        {
            @include __font(1.8rem, 700, normal, $color-b);
            @include __line_height(125%);
        }
    }
    
    & .button-wrapper  
    {
        @include __link($color-e, $color-e);
        
        & .button-a {
            @include ___font(1.2rem, 300, normal);
            @include __margin(4px, right);
            @include __border(1px, solid, $color-e, all);
            //@include __background_color($color-a);
            @include __border_radius(3px);
        }
    }

    & .figure-wrapper-coffee { }
}

/*** Section 4 ***/
section.section-4 
{
    @include __background_color($color-c);

    & .medium-fonts-wrapper 
    {
        @include __margin(3rem, bottom);    
    
        & h2.medium-font
        {
            @include __font(2.4rem, 700, normal, $color-b);
            @include __line_height(125%);     
            @include __margin(8px, bottom);  
        }

        & p 
        {
            @include __font(18px, 300, normal, $color-e);
            @include __line_height(145%);
        }
    }

    & .card-custom 
    {
        @include __padding(20px, left);
        @include __padding(20px, right);
        @include __padding(30px, top);
        @include __padding(30px, bottom);
        @include __margin(15px, top);
        @include __margin(15px, bottom);
        @include __border(1px, solid, $color-e, all);
        @include __border_radius(3px);

        & .item-wrapper 
        {
            @include __text_align(center);
        }

        & .card-txt 
        {
            @include __text_align(center);

            & h2.font-a
            {
                @include __font(18px, 500, normal, $color-b);
                @include __margin(14px, top);
                @include __margin(8px, bottom);
            }

            & p 
            {
                @include __font(14px, 400, normal, $color-e);
                @include __line_height(140%);
            }
        }
    }

    & .card-custom:hover 
    {
        @include __background_color(#3a2d27);    
    }
}

/*** Section 5 ***/
section.section-5
{
    @include __background_color($white-color);
    & .medium-fonts-wrapper 
    {
        @include __margin(3rem, bottom);    
    
        & h2.medium-font
        {
            @include __font(2.4rem, 700, normal, $color-c);
            @include __line_height(125%);   
            @include __margin(8px, bottom);    
        }

        & p 
        {
            @include __font(18px, 300, normal, $color-c);
            @include __line_height(145%);
        }
    }

    /** css for swiper - **/
    & .swiper-container {
        width: 100%;
        height: 100%;
        & .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;            
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }    
}

/*** Section 6 ***/
section.section-6 
{
    @include __background('../img/imgs/jpg/section-6-bg.jpg');
    @include __background_size(cover);
    @include __background_repeat(no-repeat);
    background-attachment: fixed;

    & h2.medium-font
    {
        @include __font(2.4rem, 700, normal, $color-c);
        @include __line_height(125%);  
        @include __margin(8px, bottom);     
    }

    & .quote 
    {
        @include __color($color-c);
        @include __margin(0.3rem, top);
        @include __margin(3.7rem, bottom);
    }

    & .slider-comments-wrapper 
    {
        & .img-profile 
        {
            @include __border_radius(50%);
            @include __border(2px, solid, $color-c, all);
        }

        & .media 
        {

            & .media-body 
            {
                & p.comment  
                {   
                    @include __font(15px, 400, italic, $color-c);
                    @include __margin(10px, bottom);
                }

                & p.name
                {
                    @include __font(15px, 500, normal, $color-c);
                }
            }
        }
    }
}

/*** section Info 2 ***/
section.section-info-2 
{
    @include __background_color($color-f);

    & .info-wrapper 
    {
        & h2 
        {
            @include __font(1.2rem, 400, normal, $color-c);
            @include __margin(8px, bottom);
        }

        & p 
        {
            @include __font(14px, 400, normal, $color-c);
            @include __line_height(130%);   
        }
    }

    & .right-border 
    {
        @include __border(1px, solid, $color-c, right);
    }
    
    @include __link($color-c, $color-c);

    .button-a 
    {
        @include __font_weight(400);
        @include __border(1px, solid, $color-c, all);
        @include __border_radius(3px);
    }
}

/*** footer ***/
footer.footer-main
{
    @include __background_color($color-c);

    & .footer-pad 
    {
        @include __padding(2rem, top);
        @include __padding(2rem, bottom);
    }

    & .title-wrapper 
    {
        @include __margin(18px, top);
        @include __margin(14px, bottom);
        & .title 
        {
            @include __font(16px, 500, normal, $color-b);
        }
    }

    & .list-ul-wrapper
    {
        @extend .__class_list;    
         
        & .list-ul
        {
            @extend .__class_mp_0;
            @include ___font(13px, 300, normal);   
            
            & .item-li 
            {
                @include __link($color-g, $color-f);
                @include __padding(3px, top);
                @include __padding(3px, bottom);
                
                & a:hover
                {
                    font-weight:400;
                }
            }
        }         
    }

    & .social-icons-wrapper 
    {
        @extend .__margin_top;    
        @extend .__class_list_inline;

        & ul.social-icons-ul 
        {
            @extend .__class_mp_0;
            
            @include __padding(20px, top);
            @include __padding(20px, bottom);
            @include __margin(20px, top);
            @include __margin(40px, bottom);
            @include __border(1px, solid, #634d44, bottom);

            & li.item-li 
            {
                @include __link($color-b, $color-f); 
                @include __padding(16px, left);
                @include __padding(16px, right);
            }   
        }
    }

    & .footer-txt
    {
        & p {
            @include __font(12px, 300, normal, $color-g);
        }
    }
}

.back-to-top {
   @include __cursor(pointer);
   @include __color($white-color);
   @include __position(fixed);
   @include __right(10px);
   @include __bottom(10px);
   @include __background_color($color-a);
   @include __z_index(9999);
   @include __display(none);
   @include __padding(10px, left);
   @include __padding(10px, right);
   @include __padding(5px, top);
   @include __padding(5px, bottom);
   @include __border_radius(100%);
} 


