.container {
	width:100%;
	min-width:120px;
	max-width:400px; 
}

.bar {
	width:100%;
	background:#eee;
	padding:3px;
	border-radius:3px;
	box-shadow:inset 0px 1px 3px rgba(0, 0, 0, .2);
}

.bar-fill {
	height:20px;
	display:block;
	background:cornflowerblue;
	width:0%;
	border-radius:3px;
	
	-webkit-transition:width 0.8s ease;
	transition:width 0.8s ease;
}